{
  "providers": {
    "Anthropic": {
      "baseUrl": "{{ .ai_baseurl }}",
      "apiKey": "{{ .ai_apikey }}",
      "api": "anthropic-messages",
      "models": [
        {
          "id": "claude-fable-5",
          "name": "Claude Fable 5",
          "reasoning": true,
          "input": [
            "text",
            "image"
          ],
          "thinkingLevelMap": {
            "off": null,
            "xhigh": "xhigh",
            "max": "max"
          },
          "contextWindow": 632120,
          "maxTokens": 128000,
          "cost": {
            "input": 10,
            "output": 50,
            "cacheRead": 1,
            "cacheWrite": 12.5
          },
          "compat": {
            "forceAdaptiveThinking": true,
            "supportsStrictTools": true
          }
        },
        {
          "id": "claude-opus-5",
          "name": "Claude Opus 5",
          "reasoning": true,
          "input": [
            "text",
            "image"
          ],
          "thinkingLevelMap": {
            "xhigh": "xhigh",
            "max": "max"
          },
          "contextWindow": 632120,
          "maxTokens": 128000,
          "cost": {
            "input": 5,
            "output": 25,
            "cacheRead": 0.5,
            "cacheWrite": 6.25
          },
          "compat": {
            "forceAdaptiveThinking": true,
            "supportsTemperature": false,
            "supportsStrictTools": true
          }
        }
      ]
    },
    "Google": {
      "baseUrl": "{{ .ai_baseurl }}/v1beta",
      "apiKey": "{{ .ai_apikey }}",
      "api": "google-generative-ai",
      "models": [
        {
          "id": "gemini-3.7-flash",
          "name": "Gemini 3.7 Flash",
          "reasoning": true,
          "input": [
            "text",
            "image"
          ],
          "thinkingLevelMap": {
            "off": null
          },
          "contextWindow": 662820,
          "maxTokens": 65536,
          "cost": {
            "input": 0.75,
            "output": 3.75,
            "cacheRead": 0.075,
            "cacheWrite": 0
          }
        }
      ]
    },
    "OpenAI": {
      "baseUrl": "{{ .ai_baseurl }}/v1",
      "apiKey": "{{ .ai_apikey }}",
      "api": "openai-responses",
      "models": [
        {
          "id": "gpt-6-astra",
          "name": "GPT-6 Astra",
          "reasoning": true,
          "input": [
            "text",
            "image"
          ],
          "thinkingLevelMap": {
            "off": null,
            "minimal": null,
            "low": "low",
            "medium": "medium",
            "high": "high",
            "xhigh": "xhigh",
            "max": "max"
          },
          "contextWindow": 632120,
          "maxTokens": 128000,
          "cost": {
            "input": 10,
            "output": 50,
            "cacheRead": 1,
            "cacheWrite": 12.5,
            "tiers": [
              {
                "inputTokensAbove": 272000,
                "input": 20,
                "output": 75,
                "cacheRead": 2,
                "cacheWrite": 25
              }
            ]
          },
          "compat": {
            "supportsStrictMode": true,
            "supportsOpenAIGrammarTools": true,
            "supportsAdditionalTools": true,
            "supportsToolSearch": true,
            "supportsExplicitPromptCacheMode": true
          }
        },
        {
          "id": "gpt-5.6-sol",
          "name": "GPT-5.6 Sol",
          "reasoning": true,
          "input": [
            "text",
            "image"
          ],
          "thinkingLevelMap": {
            "off": "none",
            "minimal": null,
            "xhigh": "xhigh",
            "max": "max"
          },
          "contextWindow": 632120,
          "maxTokens": 128000,
          "cost": {
            "input": 5,
            "output": 30,
            "cacheRead": 0.5,
            "cacheWrite": 6.25,
            "tiers": [
              {
                "inputTokensAbove": 272000,
                "input": 10,
                "output": 45,
                "cacheRead": 1,
                "cacheWrite": 12.5
              }
            ]
          },
          "compat": {
            "supportsStrictMode": true,
            "supportsOpenAIGrammarTools": true,
            "supportsToolSearch": true,
            "supportsExplicitPromptCacheMode": true
          }
        },
        {
          "id": "gpt-5.6-luna",
          "name": "GPT-5.6 Luna",
          "reasoning": true,
          "input": [
            "text",
            "image"
          ],
          "thinkingLevelMap": {
            "off": "none",
            "minimal": null,
            "xhigh": "xhigh",
            "max": "max"
          },
          "contextWindow": 632120,
          "maxTokens": 128000,
          "cost": {
            "input": 0.2,
            "output": 1.2,
            "cacheRead": 0.02,
            "cacheWrite": 0.25,
            "tiers": [
              {
                "inputTokensAbove": 272000,
                "input": 0.4,
                "output": 1.8,
                "cacheRead": 0.04,
                "cacheWrite": 0.5
              }
            ]
          },
          "compat": {
            "supportsStrictMode": true,
            "supportsOpenAIGrammarTools": true,
            "supportsToolSearch": true,
            "supportsExplicitPromptCacheMode": true
          }
        },
        {
          "id": "gpt-5.5",
          "name": "GPT-5.5",
          "reasoning": true,
          "thinkingLevelMap": {
            "xhigh": "xhigh"
          },
          "input": [
            "text",
            "image"
          ],
          "contextWindow": 272000,
          "maxTokens": 128000,
          "cost": {
            "input": 5,
            "output": 30,
            "cacheRead": 0.5,
            "cacheWrite": 0
          }
        }
      ]
    },
    "Meta": {
      "baseUrl": "{{ .ai_baseurl }}/v1",
      "apiKey": "{{ .ai_apikey }}",
      "api": "openai-responses",
      "models": [
        {
          "id": "muse-spark-1.3-contributor",
          "name": "Muse Spark 1.3",
          "reasoning": true,
          "input": [
            "text",
            "image"
          ],
          "thinkingLevelMap": {
            "off": null,
            "minimal": "minimal",
            "low": "low",
            "medium": "medium",
            "high": "high",
            "xhigh": "xhigh",
            "max": null
          },
          "contextWindow": 662820,
          "maxTokens": 131072,
          "cost": {
            "input": 0,
            "output": 0,
            "cacheRead": 0,
            "cacheWrite": 0
          }
        }
      ]
    },
    "xAI": {
      "baseUrl": "{{ .ai_baseurl }}/v1",
      "apiKey": "{{ .ai_apikey }}",
      "api": "openai-responses",
      "models": [
        {
          "id": "grok-4.6",
          "name": "Grok 4.6",
          "reasoning": true,
          "input": [
            "text",
            "image"
          ],
          "thinkingLevelMap": {
            "off": null,
            "minimal": null,
            "low": "low",
            "medium": "medium",
            "high": "high",
            "xhigh": "xhigh",
            "max": null
          },
          "contextWindow": 500000,
          "maxTokens": 500000,
          "cost": {
            "input": 2,
            "output": 6,
            "cacheRead": 0.5,
            "cacheWrite": 0
          }
        }
      ]
    },
    "商汤": {
      "baseUrl": "{{ .ai_baseurl }}/v1",
      "apiKey": "{{ .ai_apikey }}",
      "api": "openai-completions",
      "models": [
        {
          "id": "sensenova-6.8-flash-lite",
          "name": "SenseNova 6.8 Flash Lite",
          "reasoning": true,
          "thinkingLevelMap": {
            "off": "none",
            "minimal": null,
            "low": "low",
            "medium": "medium",
            "high": "high",
            "xhigh": null,
            "max": null
          },
          "input": [
            "text",
            "image"
          ],
          "contextWindow": 256000,
          "maxTokens": 65535,
          "compat": {
            "supportsDeveloperRole": false
          }
        }
      ]
    },
    "深度求索": {
      "baseUrl": "{{ .ai_baseurl }}/v1",
      "apiKey": "{{ .ai_apikey }}",
      "api": "openai-responses",
      "models": [
        {
          "id": "deepseek-v4-flash-vision-exp",
          "name": "DeepSeek V4 Flash Vision Exp",
          "reasoning": true,
          "input": [
            "text",
            "image"
          ],
          "thinkingLevelMap": {
            "minimal": null,
            "low": "low",
            "medium": null,
            "high": "high",
            "max": "max"
          },
          "contextWindow": 632120,
          "maxTokens": 384000,
          "cost": {
            "input": 0.14,
            "output": 0.28,
            "cacheRead": 0.0028,
            "cacheWrite": 0
          }
        },
        {
          "id": "deepseek-v4-flash",
          "name": "DeepSeek V4 Flash",
          "reasoning": true,
          "thinkingLevelMap": {
            "minimal": null,
            "low": null,
            "medium": null,
            "max": "max"
          },
          "input": [
            "text"
          ],
          "contextWindow": 632120,
          "maxTokens": 384000,
          "cost": {
            "input": 0.14,
            "output": 0.28,
            "cacheRead": 0.0028,
            "cacheWrite": 0
          }
        },
        {
          "id": "deepseek-v4-pro",
          "name": "DeepSeek V4 Pro",
          "reasoning": true,
          "thinkingLevelMap": {
            "minimal": null,
            "low": null,
            "medium": null,
            "max": "max"
          },
          "input": [
            "text"
          ],
          "contextWindow": 632120,
          "maxTokens": 384000,
          "cost": {
            "input": 0.435,
            "output": 0.87,
            "cacheRead": 0.003625,
            "cacheWrite": 0
          }
        }
      ]
    },
    "小米": {
      "baseUrl": "{{ .ai_baseurl }}/v1",
      "apiKey": "{{ .ai_apikey }}",
      "api": "openai-completions",
      "models": [
        {
          "id": "mimo-v2.5",
          "name": "MiMo V2.5",
          "reasoning": true,
          "input": [
            "text",
            "image"
          ],
          "contextWindow": 632120,
          "maxTokens": 128000,
          "cost": {
            "input": 0.14,
            "output": 0.28,
            "cacheRead": 0.0028,
            "cacheWrite": 0
          },
          "compat": {
            "requiresReasoningContentOnAssistantMessages": true,
            "thinkingFormat": "deepseek"
          }
        },
        {
          "id": "mimo-v2.5-pro",
          "name": "MiMo V2.5 Pro",
          "reasoning": true,
          "input": [
            "text"
          ],
          "contextWindow": 1048576,
          "maxTokens": 131072,
          "cost": {
            "input": 1,
            "output": 3,
            "cacheRead": 0.2,
            "cacheWrite": 0
          },
          "compat": {
            "requiresReasoningContentOnAssistantMessages": true,
            "thinkingFormat": "deepseek"
          }
        }
      ]
    },
    "月之暗面": {
      "baseUrl": "{{ .ai_baseurl }}/v1",
      "apiKey": "{{ .ai_apikey }}",
      "api": "openai-completions",
      "models": [
        {
          "id": "kimi-k3",
          "name": "Kimi K3",
          "reasoning": true,
          "input": [
            "text",
            "image"
          ],
          "thinkingLevelMap": {
            "off": null,
            "minimal": null,
            "low": "low",
            "medium": null,
            "high": "high",
            "xhigh": null,
            "max": "max"
          },
          "contextWindow": 662820,
          "maxTokens": 131072,
          "cost": {
            "input": 3,
            "output": 15,
            "cacheRead": 0.3,
            "cacheWrite": 0
          },
          "compat": {
            "supportsStore": false,
            "supportsDeveloperRole": false,
            "supportsReasoningEffort": true,
            "maxTokensField": "max_tokens",
            "supportsStrictMode": false,
            "thinkingFormat": "openai",
            "requiresReasoningContentOnAssistantMessages": true,
            "deferredToolsMode": "kimi"
          }
        }
      ]
    },
    "智谱": {
      "baseUrl": "{{ .ai_baseurl }}/v1",
      "apiKey": "{{ .ai_apikey }}",
      "api": "openai-completions",
      "models": [
        {
          "id": "glm-5.3",
          "name": "GLM-5.3",
          "reasoning": true,
          "input": [
            "text"
          ],
          "thinkingLevelMap": {
            "off": null,
            "minimal": null,
            "low": "low",
            "medium": null,
            "high": "high",
            "xhigh": null,
            "max": "max"
          },
          "contextWindow": 632120,
          "maxTokens": 131072,
          "cost": {
            "input": 1.4,
            "output": 4.4,
            "cacheRead": 0.26,
            "cacheWrite": 0
          },
          "compat": {
            "supportsDeveloperRole": false,
            "thinkingFormat": "zai"
          }
        },
        {
          "id": "glm-5.3-flash",
          "name": "GLM-5.3-Flash",
          "reasoning": true,
          "input": [
            "text",
            "image"
          ],
          "thinkingLevelMap": {
            "off": null,
            "minimal": null,
            "low": "low",
            "medium": null,
            "high": "high",
            "xhigh": null,
            "max": "max"
          },
          "contextWindow": 632120,
          "maxTokens": 131072,
          "cost": {
            "input": 0.075,
            "output": 0.25,
            "cacheRead": 0.015,
            "cacheWrite": 0
          },
          "compat": {
            "supportsDeveloperRole": false,
            "thinkingFormat": "zai"
          }
        }
      ]
    }
  }
}