# 是否允许局域网
allow-lan: false
# 混合端口
mixed-port: 57878

# 运行模式
mode: rule
# 日志级别
log-level: info
# ipv6
ipv6: true

# 进程匹配模式
find-process-mode: strict

# 外部控制 (API)
external-controller: 127.0.0.1:57890
# API 访问密钥
secret: "mihomo123456"
# 外部用户界面
external-ui: zashboard
# 外部用户界面下载地址
external-ui-url: https://github.com/Zephyruso/zashboard/releases/latest/download/dist-no-fonts.zip

profile:
  # 储存 API 对策略组的选择，以供下次启动时使用
  store-selected: true

# 统一延迟
unified-delay: true
# tcp 并发
tcp-concurrent: true

localdns: &localdns 127.0.0.1
dns:
  # 启用dns模块
  enable: true
  # 启用ipv6 dns解析
  ipv6: true
  enhanced-mode: redir-host
  cache-algorithm: arc
  respect-rules: true
  # 默认dns, 用于解析dns服务器的域名
  default-nameserver:
    - *localdns
  # 代理节点域名解析服务器，仅用于解析代理节点的域名
  proxy-server-nameserver:
    - *localdns
  # 用于direct出口域名解析的dns服务器
  direct-nameserver:
    - *localdns
  nameserver:
    - *localdns
  nameserver-policy:
    "geosite:geolocation-!cn":
      - https://1.1.1.1/dns-query
      - https://8.8.8.8/dns-query
  fallback:
    - https://1.1.1.1/dns-query
    - https://8.8.8.8/dns-query
  fallback-filter:
    geoip: true
    geoip-code: CN

tun:
  enable: false
  auto-route: true
  auto-redirect: true
  auto-detect-interface: true
  include-uid: [1000]
  dns-hijack:
    - any:53
  route-exclude-address:
    - 10.0.0.0/8
    - 172.16.0.0/12
    - 192.168.0.0/16
    - 127.0.0.0/8
    - 100.64.0.0/10
    - 169.254.0.0/16
    - fc00::/7
    - ::1/128

sniffer:
  enable: true
  force-dns-mapping: false
  parse-pure-ip: true
  override-destination: true
  sniff:
    HTTP:
      ports: [80, 8080-8880]
    TLS:
      ports: [443, 8443, 7826]
    QUIC:
      ports: [443, 8443]
  skip-src-address:
    - 127.0.0.0/8
    - ::1/128
  skip-dst-address:
    - 10.0.0.0/8
    - 172.16.0.0/12
    - 192.168.0.0/16
    - 100.64.0.0/10
    - 169.254.0.0/16
    - 127.0.0.0/8
    - fc00::/7
    - fe80::/10
    - ::1/128

# 代理集合
proxy-providers:
  daili:
    type: http
    url: {{ .daili_proxy_url }}
    path: proxy-providers/daili.yaml

xhttp_proxies: &xhttp_proxies
  type: vless
  port: 443
  network: xhttp
  udp: true
  packet-encoding: xudp
  tls: true
  client-fingerprint: chrome
  flow: xtls-rprx-vision
  encryption: {{ .vless_enc }}
  uuid: {{ .xhttp_uuid }}
  ech-opts:
    enable: true

xhttp_opt: &xhttp_opt
  x-padding-obfs-mode: true
  x-padding-placement: header
  x-padding-method: tokenish
  x-padding-header: X-Auth-Token
  path: {{ .xhttp_path }}
  mode: stream-up
  reuse-settings:
    max-concurrency: 16-32
    c-max-reuse-times: 0
    h-max-reusable-secs: 600-3600
    h-keep-alive-period: 0

proxies:
  - name: xhttp
    <<: *xhttp_proxies
    server: {{ .xhttp_server }}
    servername: {{ .xhttp_sni2 }}
    xhttp-opts:
      <<: *xhttp_opt
      download-settings:
        server: {{ .xhttp_server2 }}
        servername: {{ .xhttp_sni }}
  
  - name: xhttp-a
    <<: *xhttp_proxies
    server: {{ .xhttp_server2 }}
    servername: {{ .xhttp_sni2 }}
    xhttp-opts:
      <<: *xhttp_opt
      download-settings:
        server: {{ .xhttp_snia }}
        servername: {{ .xhttp_snia }}
        ech-opts:
          enable: false

  - name: xhttp-ap
    <<: *xhttp_proxies
    server: {{ .xhttp_sniap2 }}
    servername: {{ .xhttp_sniap2 }}
    uuid: {{ .xhttp_ap_uuid }}
    xhttp-opts:
      <<: *xhttp_opt
      download-settings:
        server: {{ .xhttp_sniap }}
        servername: {{ .xhttp_sniap }}
        ech-opts:
          enable: false

  - name: xhttp-ap-f
    <<: *xhttp_proxies
    server: {{ .xhttp_sniapf }}
    servername: {{ .xhttp_sniapf }}
    uuid: {{ .xhttp_ap_uuid }}
    ech-opts:
      enable: false
    xhttp-opts:
      <<: *xhttp_opt
      download-settings:
        server: {{ .xhttp_sniap }}
        servername: {{ .xhttp_sniap }}

  - name: xhttp-f
    <<: *xhttp_proxies
    server: {{ .xhttp_server2 }}
    servername: {{ .xhttp_sni2 }}
    xhttp-opts:
      <<: *xhttp_opt
      download-settings:
        server: {{ .xhttp_snif }}
        servername: {{ .xhttp_snif }}
        ech-opts:
          enable: false

  - name: a-xhttp
    <<: *xhttp_proxies
    server: {{ .xhttp_snia }}
    servername: {{ .xhttp_snia }}
    ech-opts:
      enable: false
    xhttp-opts:
      <<: *xhttp_opt
      download-settings:
        server: {{ .xhttp_server2 }}
        servername: {{ .xhttp_sni2 }}
        ech-opts:
          enable: true

  - name: xhttp-h3
    <<: *xhttp_proxies
    server: {{ .xhttp_server }}
    servername: {{ .xhttp_sni2 }}
    alpn: [h3]
    xhttp-opts:
      <<: *xhttp_opt
      download-settings:
        server: {{ .xhttp_server2 }}
        servername: {{ .xhttp_sni }}

  - name: xhttp-h3-a
    <<: *xhttp_proxies
    server: {{ .xhttp_server2 }}
    servername: {{ .xhttp_sni2 }}
    alpn: [h3]
    xhttp-opts:
      <<: *xhttp_opt
      download-settings:
        server: {{ .xhttp_snia }}
        servername: {{ .xhttp_snia }}
        ech-opts:
          enable: false

  - name: xhttp-h3-ap
    <<: *xhttp_proxies
    server: {{ .xhttp_sniap2 }}
    servername: {{ .xhttp_sniap2 }}
    uuid: {{ .xhttp_ap_uuid }}
    alpn: [h3]
    xhttp-opts:
      <<: *xhttp_opt
      download-settings:
        server: {{ .xhttp_sniap }}
        servername: {{ .xhttp_sniap }}
        ech-opts:
          enable: false

  - name: xhttp-h3-f
    <<: *xhttp_proxies
    server: {{ .xhttp_server2 }}
    servername: {{ .xhttp_sni2 }}
    alpn: [h3]
    xhttp-opts:
      <<: *xhttp_opt
      download-settings:
        server: {{ .xhttp_snif }}
        servername: {{ .xhttp_snif }}
        ech-opts:
          enable: false

  - name: a-xhttp-h3
    <<: *xhttp_proxies
    server: {{ .xhttp_snia }}
    servername: {{ .xhttp_snia }}
    alpn: [h3]
    ech-opts:
      enable: false
    xhttp-opts:
      <<: *xhttp_opt
      download-settings:
        server: {{ .xhttp_server2 }}
        servername: {{ .xhttp_sni }}
        ech-opts:
          enable: true

  - name: f-xhttp-h3-ap
    <<: *xhttp_proxies
    server: {{ .xhttp_sniapf }}
    servername: {{ .xhttp_sniapf }}
    uuid: {{ .xhttp_ap_uuid }}
    alpn: [h3]
    ech-opts:
      enable: false
    xhttp-opts:
      <<: *xhttp_opt
      mode: auto
      download-settings:
        server: {{ .xhttp_sniap }}
        servername: {{ .xhttp_sniap }} 

  - name: xhttp-one
    <<: *xhttp_proxies
    server: {{ .xhttp_server }}
    servername: {{ .xhttp_sni }}
    xhttp-opts:
      <<: *xhttp_opt
      mode: stream-one

  - name: xhttp-one-a
    <<: *xhttp_proxies
    server: {{ .xhttp_snia }}
    servername: {{ .xhttp_snia }}
    ech-opts:
      enable: false
    xhttp-opts:
      <<: *xhttp_opt
      mode: stream-one

  - name: xhttp2
    <<: *xhttp_proxies
    server: {{ .xhttp_server }}
    servername: {{ .xhttp_sni3 }}
    xhttp-opts:
      <<: *xhttp_opt
      download-settings:
        server: {{ .xhttp_server2 }}
        servername: {{ .xhttp_sni4 }}

  - name: reality
    type: vless
    server: {{ .reality_server }}
    port: 443
    udp: true
    uuid: {{ .reality_uuid }}
    flow: xtls-rprx-vision
    packet-encoding: xudp
    tls: true
    servername: {{ .reality_sni }}
    client-fingerprint: chrome
    reality-opts:
      public-key: {{ .reality_publicKey }}
      support-x25519mlkem768: true

  - name: reality-ap
    type: vless
    server: {{ .reality_ap_server }}
    port: 443
    udp: true
    uuid: {{ .reality_ap_uuid }}
    flow: xtls-rprx-vision
    packet-encoding: xudp
    tls: true
    servername: {{ .reality_ap_sni }}
    client-fingerprint: chrome
    reality-opts:
      public-key: {{ .reality_publicKey }}
      support-x25519mlkem768: true

  - name: reality-one
    <<: *xhttp_proxies
    server: {{ .reality_server }}
    servername: {{ .reality_sni }}
    reality-opts:
      public-key: {{ .reality_publicKey }}
      support-x25519mlkem768: true
    xhttp-opts:
      <<: *xhttp_opt
      mode: stream-one

  - name: reality-xhttp
    <<: *xhttp_proxies
    server: {{ .reality_server }}
    servername: {{ .reality_sni }}
    reality-opts:
      public-key: {{ .reality_publicKey }}
      support-x25519mlkem768: true
    xhttp-opts:
      <<: *xhttp_opt
      download-settings:
        server: {{ .xhttp_sni2 }}
        servername: {{ .xhttp_sni2 }}
        reality-opts:
          public-key: ""

  - name: reality-xhttp-ap
    <<: *xhttp_proxies
    server: {{ .reality_ap_server }}
    servername: {{ .reality_ap_sni }}
    uuid: {{ .xhttp_ap_uuid }}
    reality-opts:
      public-key: {{ .reality_publicKey }}
      support-x25519mlkem768: true
    xhttp-opts:
      <<: *xhttp_opt
      download-settings:
        server: {{ .xhttp_sniap }}
        servername: {{ .xhttp_sniap }}
        ech-opts:
          enable: false
        reality-opts:
          public-key: ""

# 代理组
proxy-groups:
  - name: mainproxy
    type: select
    proxies:
      - stream-up
      - stream-one
      - quic
      - tcp
      - 美国
      - 日本
      - 新加坡
      - 香港
      - 台湾
      - 其它地区
      - 全部节点
      - DIRECT

  - name: stream-up
    type: select
    proxies:
      - xhttp
      - xhttp-a
      - xhttp-ap
      - xhttp-ap-f
      - xhttp-f
      - xhttp2
      - a-xhttp
      - reality-xhttp
      - reality-xhttp-ap
  
  - name: stream-one
    type: select
    proxies:
      - xhttp-one
      - xhttp-one-a
      - reality-one

  - name: quic
    type: select
    proxies:
      - xhttp-h3
      - xhttp-h3-a
      - xhttp-h3-ap
      - xhttp-h3-f
      - a-xhttp-h3
      - f-xhttp-h3-ap

  - name: tcp
    type: select
    proxies:
      - reality
      - reality-ap

  - name: 美国
    type: select
    filter: '(?i)(?:🇺🇸|usa|united ?states|美国|(?<![a-z])us(?![a-z]))'
    use:
      - daili

  - name: 日本
    type: select
    filter: '(?i)(?:🇯🇵|japan|(?<![a-z])jp(?![a-z])|日本)'
    use:
      - daili

  - name: 新加坡
    type: select
    filter: '(?i)(?:🇸🇬|singapore|(?<![a-z])sg(?![a-z])|新加坡)'
    use:
      - daili

  - name: 香港
    type: select
    filter: '(?i)(?:🇭🇰|hong ?kong|(?<![a-z])hk(?![a-z])|香港)'
    use:
      - daili

  - name: 台湾
    type: select
    filter: '(?i)(?:🇹🇼|taiwan|(?<![a-z])tw(?![a-z])|台湾)'
    use:
      - daili

  - name: 其它地区
    type: select
    exclude-filter: '(?i)(?:🇺🇸|usa|united ?states|unitedstates|美国|(?<![a-z])us(?![a-z]))`(?i)(?:🇯🇵|japan|(?<![a-z])jp(?![a-z])|日本)`(?i)(?:🇸🇬|singapore|(?<![a-z])sg(?![a-z])|新加坡)`(?i)(?:🇭🇰|hong ?kong|(?<![a-z])hk(?![a-z])|香港)`(?i)(?:<RG_EMOJI>|<RG_EN>|(?<![a-z])<RGCODE>(?![a-z])|<RG_CN>)'
    use:
      - daili

  - name: 全部节点
    type: select
    use:
      - daili

rule-providers:
  icp:
    type: http
    path: rules/icp.mrs
    url: https://static-file-global.353355.xyz/rules/cn-additional-list.mrs
    interval: 43200
    proxy: DIRECT
    behavior: domain
    format: mrs

rules:
  # domain规则
  # 国外
  - GEOSITE,geolocation-!cn,mainproxy
  # 国内
  - GEOSITE,private,DIRECT
  - RULE-SET,icp,DIRECT

  # ip规则
  - GEOIP,private,DIRECT
  # 国内
  - GEOIP,CN,DIRECT
  # 国外
  - MATCH,mainproxy
