# 是否允许局域网
allow-lan: false
# 绑定地址
bind-address: 0.0.0.0
# 混合端口
mixed-port: 57878

# 运行模式
mode: rule
# 日志级别
log-level: info
# ipv6
ipv6: true

# 进程匹配模式
find-process-mode: strict

# 外部控制 (API)
external-controller: 127.0.0.1:57890
# API 访问密钥
secret: "mihomo123456"
# 外部用户界面
external-ui: zashboard
# 外部用户界面下载地址
external-ui-url: https://github.com/Zephyruso/zashboard/releases/latest/download/dist-no-fonts.zip

profile:
  # 储存 API 对策略组的选择，以供下次启动时使用
  store-selected: true

# 统一延迟
unified-delay: true
# tcp 并发
tcp-concurrent: true

localdns: &localdns 127.0.0.1
dns:
  # 启用dns模块
  enable: true
  # 启用ipv6 dns解析
  ipv6: true
  enhanced-mode: redir-host
  cache-algorithm: arc
  respect-rules: true
  # 默认dns, 用于解析dns服务器的域名
  default-nameserver:
    - *localdns
  # 代理节点域名解析服务器，仅用于解析代理节点的域名
  proxy-server-nameserver:
    - *localdns
  # 用于direct出口域名解析的dns服务器
  direct-nameserver:
    - *localdns
  nameserver:
    - *localdns
  nameserver-policy:
    "geosite:geolocation-!cn":
      - https://1.1.1.1/dns-query
      - https://8.8.8.8/dns-query
  fallback:
    - https://1.1.1.1/dns-query
    - https://8.8.8.8/dns-query
  fallback-filter:
    geoip: true
    geoip-code: CN

tun:
  enable: false
  stack: system
  auto-route: true
  auto-redirect: true
  auto-detect-interface: true
  include-uid: [1000]
  dns-hijack:
    - any:53
    - tcp://any:53
  route-exclude-address:
    - 10.0.0.0/8
    - 172.16.0.0/12
    - 192.168.0.0/16
    - 127.0.0.0/8
    - 100.64.0.0/10
    - 169.254.0.0/16
    - fc00::/7
    - ::1/128

sniffer:
  enable: true
  force-dns-mapping: false
  parse-pure-ip: true
  override-destination: true
  sniff:
    HTTP:
      ports: [80, 8080-8880]
    TLS:
      ports: [443, 8443, 7826]
    QUIC:
      ports: [443, 8443]
  skip-src-address:
    - 127.0.0.0/8
    - ::1/128
  skip-dst-address:
    - 10.0.0.0/8
    - 172.16.0.0/12
    - 192.168.0.0/16
    - 100.64.0.0/10
    - 169.254.0.0/16
    - 127.0.0.0/8
    - fc00::/7
    - fe80::/7
    - ::1/128

# 代理集合
proxy-providers:
  daili:
    type: http
    url: {{ .daili_proxy_url }}
    path: proxy-providers/daili.yaml
    interval: 0

xhttp_proxies: &xhttp_proxies
  type: vless
  port: 443
  network: xhttp
  udp: true
  packet-encoding: xudp
  tls: true
  client-fingerprint: chrome
  flow: xtls-rprx-vision
  encryption: {{ .vless_enc }}
  uuid: {{ .xhttp_uuid }}
  ech-opts:
    enable: true

xhttp_opt: &xhttp_opt
  x-padding-obfs-mode: true
  x-padding-placement: header
  x-padding-method: tokenish
  x-padding-header: X-Auth-Token
  path: {{ .xhttp_path }}
  mode: stream-up
  reuse-settings:
    max-concurrency: 16-32
    c-max-reuse-times: 0
    h-max-reusable-secs: 1800-3600
    h-keep-alive-period: 0

proxies:
  - name: vless
    type: vless
    server: {{ .vless_server }}
    port: 443
    udp: true
    uuid: {{ .vless_uuid }}
    flow: xtls-rprx-vision
    packet-encoding: xudp
    tls: true
    servername: {{ .vless_sni }}
    client-fingerprint: chrome
    reality-opts:
      public-key: {{ .vless_public_key }}
      support-x25519mlkem768: true

  - name: xhttp
    <<: *xhttp_proxies
    server: {{ .xhttp_server }}
    servername: {{ .xhttp_sni2 }}
    xhttp-opts:
      <<: *xhttp_opt
      download-settings:
        server: {{ .xhttp_server2 }}
        servername: {{ .xhttp_sni }}

  - name: xhttp-h3
    <<: *xhttp_proxies
    server: {{ .xhttp_server }}
    servername: {{ .xhttp_sni2 }}
    alpn: [h3]
    xhttp-opts:
      <<: *xhttp_opt
      mode: auto
      download-settings:
        server: {{ .xhttp_server2 }}
        servername: {{ .xhttp_sni }}

  - name: xhttp2
    <<: *xhttp_proxies
    server: {{ .xhttp_server3 }}
    servername: {{ .xhttp_sni3 }}
    xhttp-opts:
      <<: *xhttp_opt
      download-settings:
        server: {{ .xhttp_server2 }}
        servername: {{ .xhttp_sni4 }}

  - name: xhttp-fastly
    <<: *xhttp_proxies
    server: {{ .xhttp_server }}
    servername: {{ .xhttp_sni2 }}
    xhttp-opts:
      <<: *xhttp_opt
      mode: stream-up
      download-settings:
        server: {{ .xhttp_fastly_server }}
        servername: {{ .xhttp_fastly_server }}
        ech-opts:
          enable: false

  - name: reality-up+xhttp-down
    <<: *xhttp_proxies
    server: {{ .vless_server }}
    servername: {{ .vless_sni }}
    reality-opts:
      public-key: {{ .vless_public_key }}
      support-x25519mlkem768: true
    xhttp-opts:
      <<: *xhttp_opt
      download-settings:
        server: {{ .xhttp_sni2 }}
        servername: {{ .xhttp_sni2 }}
        reality-opts:
          public-key: ""

# 代理组
proxy-groups:
  - name: mainproxy
    type: select
    proxies:
      - xhttp
      - xhttp-h3
      - xhttp2
      - xhttp-fastly
      - reality-up+xhttp-down
      - vless
      - 美国
      - 日本
      - 新加坡
      - 香港
      - 台湾
      - 其它地区
      - 全部节点
      - DIRECT

  - name: 美国
    type: select
    filter: "(?i)美国|us|unitedstates|united states"
    use:
      - daili

  - name: 日本
    type: select
    filter: "(?i)日本|jp|japan"
    use:
     - daili

  - name: 新加坡
    type: select
    filter: "(?i)(新加坡|sg|singapore)"
    use:
      - daili

  - name: 香港
    type: select
    filter: "(?i)香港|hk|hongkong|hong kong"
    use:
      - daili

  - name: 台湾
    type: select
    filter: "(?i)台湾|tw|taiwan"
    use:
      - daili

  - name: 其它地区
    type: select
    filter: "(?i)^(?!.*(?:🇭🇰|🇯🇵|🇺🇸|🇸🇬|🇨🇳|香港|hk|hongkong|台湾|tw|taiwan|日本|jp|japan|新加坡|sg|singapore|美国|us|unitedstates)).*"
    use:
      - daili

  - name: 全部节点
    type: select
    use:
     - daili

rule-providers:
  icp:
    type: http
    path: rules/icp.mrs
    url: https://static-file-global.353355.xyz/rules/cn-additional-list.mrs
    interval: 43200
    proxy: DIRECT
    behavior: domain
    format: mrs

  ip-cn:
    type: http
    path: rules/bgp-cn.txt
    url: https://ghproxy.net/https://raw.githubusercontent.com/PaPerseller/chn-iplist/master/chnroute.txt
    interval: 43200
    proxy: DIRECT
    behavior: ipcidr
    format: text

rules:
  - DOMAIN-SUFFIX,data.bilibili.com,REJECT
  - DOMAIN,bfs,REJECT
  # domain规则
  # 国外
  - GEOSITE,geolocation-!cn,mainproxy
  # 国内
  - GEOSITE,private,DIRECT
  - RULE-SET,icp,DIRECT

  # ip规则
  - GEOIP,private,DIRECT
  # 国内
  - RULE-SET,ip-cn,DIRECT
  - GEOIP,CN,DIRECT
  # 国外
  - MATCH,mainproxy
